name: Testing

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry==1.8.5

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: "poetry"

      - name: coverage
        run: |
          poetry source add --priority=explicit pytorch https://download.pytorch.org/whl/cpu
          poetry add "torch@^$(poetry show torch | grep '^ version' | awk -F ':' '{print $NF}')" --source pytorch
          bash -ex scripts/test.sh
